@import '../../css/theme';

.default-content {
	font-size: 28px;
	font-weight: $medium;
	margin: 150px auto 0;
	position: relative;
	transform: translateY(-50%);
	width: 300px;

	&:after {
		background-image: url('./img/arrow-up.png');
		content: '';
		height: 100px;
		position: absolute;
		top: -110px;
		width: 65px;

		@include breakpoint(tabletL) {
			right: -75px;
			top: -100px;
		}
	}
}
