@import '../../css/Theme.scss';

.product-list {
	background-color: $white;
	list-style: none;
	margin: 0;
	padding: 0 10px;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

	&.hide {
		height: 0;
		opacity: 0;
		visibility: hidden;
	}

	@include breakpoint(tabletL) {
		padding: 0 20px;
	}

	&__item {
		align-items: center;
		border-bottom: 1px solid $grey-light;
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 90px 1fr;
		padding: 10px 0;

		@include breakpoint(tabletL) {
			padding: 15px 0;
			grid-gap: 30px;
			grid-template-columns: 120px 1fr;
		}

		&__img {
			border-radius: 5px;
			height: 90px;
			width: 90px;

			@include breakpoint(tabletL) {
				height: 120px;
				width: 120px;
			}
		}

		&__info {
			@include breakpoint(tabletL) {
				align-items: center;
				display: grid;
				grid-template-columns: 1fr 200px;
				width: 100%;
			}

			&__price {
				font-size: 25px;
				font-weight: $bold;
			}

			&__icon {
				background-color: $green;
				border-radius: 50%;
				height: 25px;
				margin-left: 10px;
				position: relative;
				top: 3px;
				width: 25px;

				&:before {
					font-size: 0.75em;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}

			&__title {
				font-weight: $medium;
			}

			&__state {
				color: $grey-dark;
				font-size: 14px;
			}

			&--right-area {
				@include breakpoint(tabletL) {
					text-align: center;
				}
			}
		}
	}
}
